<?php

// uncomment the following to define a path alias
Yii::setPathOfAlias('documents',dirname(__FILE__).DIRECTORY_SEPARATOR.'..'.DIRECTORY_SEPARATOR.'documents');

// This is the main Web application configuration. Any writable
// CWebApplication properties can be configured here.
return array(
	'basePath'=>dirname(__FILE__).DIRECTORY_SEPARATOR.'..',
	'name'=>'Albo Pretorio',
    'defaultController' => 'document',
    'homeUrl' => array('document/index'),
	'localeDataPath'=>dirname(__FILE__).DIRECTORY_SEPARATOR.'..'.DIRECTORY_SEPARATOR.'i18n'.DIRECTORY_SEPARATOR.'data',
    
	// preloading 'log' component
	'preload'=>array('log', 'bootstrap'),

	// autoloading model and component classes
	'import'=>array(
		'application.models.*',
		'application.components.*',
	),

	'modules'=>array(
	),

	// application components
	'components'=>array(
		'user'=>array(
			// enable cookie-based authentication
			'allowAutoLogin'=>true,
		),
		'urlManager'=>array(
			'urlFormat'=>'path',
            'showScriptName' => false,
			'rules'=>array(
				'<controller:\w+>/<id:\d+>'=>'<controller>/view',
				'<controller:\w+>/<action:\w+>/<id:\d+>'=>'<controller>/<action>',
				'<controller:\w+>/<action:\w+>'=>'<controller>/<action>',
			),
		),
		'format'=>array(
			'datetimeFormat'=>'d-m-Y H:i:s',
			'dateFormat'=>'d-m-Y',
			'timeFormat'=>'H:i:s'
		),            
/*		'db'=>array(
			'connectionString' => 'mysql:host=DB_HOST;dbname=DB_NAME',
			'emulatePrepare' => true,
			'username' => 'DB_USER',
			'password' => 'DB_PASSWORD',
			'charset' => 'utf8',
		),*/
            'db'=>array(
			'connectionString' => 'mysql:host=localhost;dbname=noticeboard_sora',
			'emulatePrepare' => true,
			'username' => 'noticeboard_sora',
			'password' => 'noticeboard_sora',
			'charset' => 'utf8',
		),            
		'errorHandler'=>array(
			// use 'site/error' action to display errors
            'errorAction'=>'site/error',
        ),
		'log'=>array(
			'class'=>'CLogRouter',
			'routes'=>array(
				array(
					'class'=>'CFileLogRoute',
					'levels'=>'error, warning',
				),
				/*
				// uncomment the following to show log messages on web pages
				array(
					'class'=>'CWebLogRoute',
                    'levels' => 'error, warning'
				),
				*/
			),
		),
        'bootstrap'=>array(
            'class'=>'ext.bootstrap.components.Bootstrap', 
            'coreCss'=>true, 
            'responsiveCss'=>false
        ),            
	),

    'sourceLanguage' => 'en_us',
	'language' => 'it',
    
	// application-level parameters that can be accessed
	// using Yii::app()->params['paramName']
	'params'=>array(
            'entity' => 'Comune DEMO',
            'status' => 1/*'APP_STATUS'*/,
            'contactEmail' => 'info@comune.demo.it',
            'apiUsername' => 'API_USERNAME',
            'apiKey' => 'API_KEY'
	),
);